# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other Miscellanies + vb nonsense
*.tmp
*.nogit
*.csv
*.bak
*.old
*.opendb
*.db
# *.sln
*.pdb
# *.vcxproj
*.filters
*.user
*.pdb
*.gitattributes
*.snip
build/
*.bin

# Project-specific folders
/codesamples
#/codesamples/NormDistribution
#/codesamples/readsettingsfile
#/codesamples/fileIO
#/codesamples/distgraphs

/*/.vs
/*/x64
/*/distgraphs
#/170810_SimpleDipoleB_ConstE/.vs
#/170810_SimpleDipoleB_ConstE/x64
#/170810_SimpleDipoleB_ConstE/distgraphs